<!-- Validation failure messages -->
<% if @showdown.errors.any? %>
<% @showdown.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Pick a winner</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="/create_showdown/<%= @img1.id %>/<%= @img2.id %>">
      <img src="<%= @img1.image_url %>" class="img-responsive">
    </a>
  </div>
  <div class="col-md-6">
    <a href="/create_showdown/<%= @img2.id %>/<%= @img1.id %>">
      <img src="<%= @img2.image_url %>" class="img-responsive">
    </a>
  </div>
</div>
