<div class="page-header">
  <h3>Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <img src="<%= @photo.image_url %>" class="img-responsive">
      <dt>User</dt>
      <dd><%= @photo.user.email %></dd>

      <dt>Rating</dt>
      <dd><%= @photo.rating.round(0) %></dd>
      <dt>Wins</dt>
      <dd><%= @wins %></dd>
      <dt>Losses</dt>
      <dd><%= @losses %></dd>
      <!-- <dt>Image url</dt>
      <dd><%= @photo.image_url %></dd> -->

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @photo.user_id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <%end%>
    </div>
  </div>
</div>
